<!DOCTYPE html>
<html>
<head>
  <title>Upwork</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <!-- include json locales from backend on each page -->
  <%= javascript_tag do %>
    window.I18n = <%= current_translations.to_json.html_safe %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= render "layouts/locale_switcher" %>
<%= yield %>

</body>
</html>
